GENERATOR=genEtaRegge #or you may specifile file:/.../file-to-use.hddm

DATA_OUTPUT_BASE_DIR=$PWD #your desired output location
GENERATOR_CONFIG=$PWD/eta_evtgen.in
GENERATOR_POSTPROCESS=decay_evtgen:$PWD/DecayEta3piq.dec # eg evtgen:/u/home/evtgen.cfg
CUSTOM_PLUGINS=file:$PWD/../hd_root_Eta3piq.config #or file:/.../file-to-use which is a configuration file for jana/hd_root 

BKG=Random:recon-2017_01-ver03
GEN_MIN_ENERGY=4
GEN_MAX_ENERGY=11.6
GEANT_VERSION=4
NCORES=1      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system
