PLUGINS ReactionFilter #We want to run this plugin only

#Start with pi+pi-pi0:
########################################################################

#No constraints on anything:
#--------------------------------------
#Using the full fit:
Reaction1 1_14__8_9_1_1_14
Reaction1:Flags F4
Reaction1:Name PipPimGG_P4Vertex

#Using a P4-Fit only:
Reaction2 1_14__8_9_1_1_14
Reaction2:Flags F1
Reaction2:Name PipPimGG_P4


#Note: The P4Vertex will work on reactions with neutral particles,
#but these particles will not have pull-values
#--------------------------------------

#Constraints on a decaying pi0:
#--------------------------------------
#Using the full fit:
Reaction4 1_14__8_9_7_14
Reaction4:Decay1 7__1_1
Reaction4:Flags F4
Reaction4:Name PipPimPi0GG_P4Vertex

#Using a P4-Fit only:
Reaction5 1_14__8_9_7_14
Reaction5:Decay1 7__1_1
Reaction5:Flags F1
Reaction5:Name PipPimPi0ToGG_P4

#--------------------------------------


#Constraints on a decaying eta:
#--------------------------------------
#Using a P4-Fit only:
Reaction7 1_14__17_14
Reaction7:Decay1 17__8_9_7
Reaction7:Decay2 7__1_1
Reaction7:Flags F1_M17 #No constraints on the decaying meson
Reaction7:Name EtaToPipPimPi0ToGG_P4
#--------------------------------------

#Constraints on a decaying omega:
#--------------------------------------
#Using a P4-Fit only:
Reaction8 1_14__33_14
Reaction8:Decay1 33__8_9_7
Reaction8:Decay2 7__1_1
Reaction8:Flags F1_M33 #No constraints on the decaying meson
Reaction8:Name OmegaToPipPimPi0ToGG_P4
#--------------------------------------
########################################################################