PLUGINS ReactionFilter #We want to run this plugin only

#Start with pi0pi0pi0:
########################################################################

#No constraints at all:
#---------------------------------------
Reaction1 1_14__7_7_7_14
Reaction1:Decay1 7__1_1
Reaction1:Decay2 7__1_1
Reaction1:Decay3 7__1_1
Reaction1:Flags F1_M7
Reaction1:Name 6G_P4
#Note: This decay can not be realized by 1_14__1_1_1_1_1_1_14 -->Jana will crash and complain about combinatorics...
#So ew keep it with 3pi0 and no constraint on the pi0-mass
#---------------------------------------

#Having 6pi0s decaying:
#---------------------------------------
Reaction2 1_14__7_7_7_14
Reaction2:Decay1 7__1_1
Reaction2:Decay2 7__1_1
Reaction2:Decay3 7__1_1
Reaction2:Flags F1
Reaction2:Name 3Pi0To6G_P4
#---------------------------------------

#Eta decaying into 3pi0:
#---------------------------------------
Reaction3 1_14__17_14
Reaction3:Decay1 17__7_7_7
Reaction3:Decay2 7__1_1
Reaction3:Decay3 7__1_1
Reaction3:Decay4 7__1_1
Reaction3:Flags F1_M17
Reaction3:Name EtaTo3Pi0To6G_P4
#---------------------------------------
########################################################################


#Now look at pi0g:
########################################################################

#No constraints at all:
#---------------------------------------
Reaction4 1_14__7_1_14
Reaction4:Decay1 7__1_1
Reaction4:Flags F1_M7
Reaction4:Name 3G_P4
#---------------------------------------

#Constraint on the pi0:
#---------------------------------------
Reaction5 1_14__7_1_14
Reaction5:Decay1 7__1_1
Reaction5:Flags F1
Reaction5:Name Pi0G_P4
#---------------------------------------

#Omega decaying into pi0g:
#---------------------------------------
Reaction6 1_14__33_14
Reaction6:Decay1 33__7_1
Reaction6:Decay2 7__1_1
Reaction6:Flags F1_M33
Reaction6:Name OmegaToPi0G_P4
#---------------------------------------
########################################################################



#Finally, look at pi0gg:
########################################################################
#No constraints at all:
#---------------------------------------
Reaction7 1_14__7_1_1_14
Reaction7:Decay1 7__1_1
Reaction7:Flags F1_M7
Reaction7:Name 4G_P4
#---------------------------------------

#Constraint on the pi0:
#---------------------------------------
Reaction8 1_14__7_1_1_14
Reaction8:Decay1 7__1_1
Reaction8:Flags F1
Reaction8:Name Pi0GG_P4
#---------------------------------------

#Eta decaying into pi0gg:
#---------------------------------------
Reaction9 1_14__17_14
Reaction9:Decay1 17__7_1_1
Reaction9:Decay2 7__1_1
Reaction9:Flags F1_M17
Reaction9:Name EtaToPi0GG_P4
#---------------------------------------
########################################################################
