PLUGINS ReactionFilter #We want to run this plugin only

#Start with pi+pi-:
########################################################################
#Using the full fit:
#-------------------------------------
Reaction1 1_14__8_9_14
Reaction1:Flags F4
Reaction1:Name PipPim_P4Vertex
#-------------------------------------

#Using the P4-Fit only:
#-------------------------------------
Reaction2 1_14__8_9_14
Reaction2:Flags F1
Reaction2:Name PipPim_P4
#-------------------------------------

#-------------------------------------
Reaction3 1_14__8_9_14
Reaction3:Flags F2
Reaction3:Name PipPim_Vertex
#-------------------------------------
########################################################################


#Look at K+K-:
########################################################################
#Using the full fit:
#-------------------------------------
Reaction4 1_14__11_12_14
Reaction4:Flags F4
Reaction4:Name KpKm_P4Vertex
#-------------------------------------

#Using the P4-Fit only:
#-------------------------------------
Reaction5 1_14__11_12_14
Reaction5:Flags F1
Reaction5:Name KpKm_P4
#-------------------------------------

#-------------------------------------
Reaction6 1_14__11_12_14
Reaction6:Flags F2
Reaction6:Name KpKm_Vertex
#-------------------------------------
########################################################################


#Note: No mass constraints are used, because we want to investigate the performance
#of the fitter for charged tracks only, having less constraints as possible