# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld
TRACK                         production
OS                            general
USER			      			# PUT YOUR USER NAME HERE !!!

# JOB RESOURCES
NCORES                        4
DISK                          50GB
RAM                           8GB
TIMELIMIT                     1hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       53
BATCH                         01
WORKFLOW                      dselector_[RUNPERIOD]_ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       version.xml # latest release
SCRIPTFILE                    /group/halld/Software/gluex_workshops/tutorial_2022/session2a/root_analysis/script.sh

# ROOT CONFIG
ROOT_SCRIPT                   /group/halld/Software/gluex_workshops/tutorial_2022/session2a/root_analysis/Run_Selector.C
TREE_NAME                     pi0eta__B4_M17_M7_Tree
SELECTOR_NAME                 /group/halld/Software/gluex_workshops/tutorial_2022/session1c/DSelector_Session1c      # Leave .C off of the end!

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /cache/halld/RunPeriod-2017-01/analysis/ver52/tree_pi0eta__B4_M17_M7/merged/

# FILE OUTPUT
OUTDIR_LARGE      /volatile/halld/home/[USER]/root_analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]        # tree, hist
OUTDIR_SMALL      /farm_out/[USER]/root_analysis/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/     # log files

