PLUGINS monitoring_hists,ReactionFilter

#Ncores if you want to use all of the hyperthreads available
NTHREADS 12

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

REST:DATAVERSIONSTRING recon_RunPeriod-2017-01_ver02
ANALYSIS:DATAVERSIONSTRING analysis_RunPeriod-2017-01_ver33

JANA_CALIB_CONTEXT variation=default calibtime=2018-06-20-16-27-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)


#EVENTS_TO_KEEP 50000

# GEANT PIDS:
# X/g          =  0, 1
# e+/-         =  2, 3
# pi0/+/-      =  7, 8, 9
# K+/-/S/L     =  11, 12, 16, 10
# eta/eta'     =  17, 35
# omega/phi    =  33, 34

# Etac         =  84
# Jpsi/psi2s   =  83, 88
# D0/D0bar/D+  =  89, 94, 90
# Chic0/1/2    =  85, 86, 87
# D*0/+        =  91, 92

# p/pbar/n     =  14, 15, 13
# Lamb/lbar    =  18, 26
# Sig+/0/-     =  19, 20, 21
# Xi0/-        =  22, 23
# Omega-       =  24
# Lambdac      =  93

#F#: Kinfit enum value (0 is no fit, 1 is p4-only, 2 is vertex only, 4 is vertex-p4)

#B#: # of ± Beam Bunches (e.g. 0 is center peak only, 2 is center ± 2)

#T#: # of extra tracks

#M#: PID # of particle to not constrain kinfit mass

#Convention for final-state order: numerical, but baryons last

Reaction1  1_14__1_1_14		        # 2g p
Reaction1:Flags B4
Reaction2  1_14__8_9_14		        # pi+ pi- p
Reaction2:Flags B4
Reaction3  1_14__7_8_9_14		# pi0 pi+ pi- p
Reaction3:Flags B4
Reaction4  1_14__7_7_7_14		# 3pi0 p
Reaction4:Flags B4
Reaction5  1_14__11_12_14		# K+ K- p
Reaction5:Flags B4

