# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       gluex                 # http://scicomp.jlab.org/scicomp/#/projects
TRACK                         reconstruction        # https://scicomp.jlab.org/docs/batch_job_tracks
OS                            centos7

# JOB RESOURCES
NCORES                        24
DISK                          30GB
RAM                           18GB
TIMELIMIT                     8hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       02
WORKFLOW                      recon_[RUNPERIOD]_ver[VERSION]

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/Software/workshops/tutorial_2018/session1a/env_t18.sh
SCRIPTFILE                    /group/halld/Software/workshops/tutorial_2018/session1d/monitoring/launch/script.sh
RCDB_QUERY                    "@is_production and @status_approved"         # comment-out for all runs
JANA_CONFIG                   /group/halld/Software/workshops/tutorial_2018/session1d/monitoring/launch/jana_recon.config
CACHE_PIN_DAYS                60                                            # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /mss/halld/RunPeriod-[RUNPERIOD]/rawdata/
		  
# FILE OUTPUT
OUTDIR_LARGE      /volatile/halld/home/tutorial/RunPeriod-[RUNPERIOD]/recon/ver[VERSION]                  # REST, skims, hists, trees
OUTDIR_SMALL      /volatile/halld/home/tutorial/RunPeriod-[RUNPERIOD]/recon/ver[VERSION]                  # log files

