# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
USER			      YOUR_USER_NAME	    # ADD YOUR USER NAME HERE
PROJECT                       halld                 # = account: https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
TRACK                         production            # = partition: https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
OS                            el9

# JOB RESOURCES
NCORES                        12
DISK                          50GB
RAM                           10GB
TIMELIMIT                     4hrs

# WORKFLOW DEFINITION
WORKFLOW                      analysis_2018-08_ver16                           # MUST start with a letter!

# JOB, SCRIPT CONTROL
ENVFILE                       /group/halld/Software/gluex_workshops/tutorial_2025/setup_gluex.sh     # or version.xml
SCRIPTFILE                    /group/halld/Software/gluex_workshops/tutorial_2025/session1a/root_analysis/script.sh

# ROOT CONFIG
ROOT_SCRIPT                   /group/halld/Software/gluex_workshops/tutorial_2025/session1a/root_analysis/Run_Selector.C
TREE_NAME                     pi0pi0pippim__B4_Tree
SELECTOR_NAME                 /group/halld/Software/gluex_workshops/tutorial_2025/session2c/DSelector_test      # Leave .C off of the end!

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR		      /cache/halld/RunPeriod-2018-08/analysis/ver16/tree_pi0pi0pippim__B4/merged/

# FILE OUTPUT
OUTDIR_LARGE      /volatile/halld/home/[USER]/analysis/pi0pi0pippim_ver16/     # root trees, hist
OUTDIR_SMALL      /farm_out/[USER]/analysis/pi0pi0pippim_ver16/      # log

