
DATA_OUTPUT_BASE_DIR=/work/halld2/home/tbritton/tutorial_2018/session2a/OMEGA_TUTORIAL_SIM/

NCORES=1               # Number of CPU threads to use

GENERATOR=gen_omega_3pi 

GENERATOR_CONFIG=/work/halld2/home/tbritton/tutorial_2018/session2a/gen_omega_3pi.cfg

#common parameters for generators
GEN_MIN_ENERGY=3
GEN_MAX_ENERGY=11.5

GEANT_VERSION=3
BKG=None

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
CUSTOM_PLUGINS=file:/work/halld2/home/tbritton/tutorial_2018/session1s/monitoring/launch/jana_analysis.config
#====================================================================================
BATCH_SYSTEM=SWIF

WORKFLOW_NAME=OMEGA #recon_2017_01_v2_rho_30496 #SWIF workflow name
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation          # https://scicomp.jlab.org/docs/batch_job_tracks

#environment file location
ENVIRONMENT_FILE=/work/halld2/home/tbritton/tutorial_2018/session1a/env_t18.csh

# RESOURCES for swif jobs
DISK=5GB            # Max Disk usage
RAM=4GB            # Max RAM usage
TIMELIMIT=24h      # Max walltime
OS=centos7        # Specify CentOS65 machines
