
DATA_OUTPUT_BASE_DIR=[OUTPUT PATH]/OMEGA_TUTORIAL_SIM/

NCORES=1               # Number of CPU threads to use

GENERATOR=gen_omega_3pi 

GENERATOR_CONFIG=[FULLPATH AND GENERATOR CONTROL FILE]

#common parameters for generators
GEN_MIN_ENERGY=6
GEN_MAX_ENERGY=11.5

GEANT_VERSION=3
BKG=None

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
CUSTOM_PLUGINS=file:/[FULL PATH TO FILE CREATED PREVIOUSLY in 1b]
#====================================================================================
BATCH_SYSTEM=SWIF

WORKFLOW_NAME=OMEGA #recon_2017_01_v2_rho_30496 #SWIF workflow name
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation          # https://scicomp.jlab.org/docs/batch_job_tracks

#environment file location
ENVIRONMENT_FILE=[FULL PATH TO FILE THAT WILL BE "SOURCED" from 1a]

# RESOURCES for swif jobs
DISK=5GB            # Max Disk usage
RAM=4GB            # Max RAM usage
TIMELIMIT=24h      # Max walltime
OS=centos7        # Specify CentOS65 machines
