#THESE TWO ARE OPTIONAL IF THE STANDARD RUNNING DOESN'T SUIT YOUR NEEDS
#CUSTOM_MAKEMC=use-this-script-instead
CUSTOM_GCONTROL=/home/elton/halld/jobs/Gcontrol_cpp.in
#========================================================================

TAG=sw1pw1000_TAG40

DATA_OUTPUT_BASE_DIR=/work/halld/home/elton/gen_2pi_primakoff_signal     #your desired output location

NCORES=12      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system
 
GENERATOR=gen_2pi_primakoff    #or you may specifile file:/.../file-to-use
GENERATOR_CONFIG=/volatile/halld/home/elton/gen_2pi_primakoff/gen_2pi_primakoff_signal.cfg   #use full path, needed by SWIF
# For the osc use >scosg16 and /osgpool/halld/elton. Look under tbritton for examples
# use base_file_number=xx to file numbering at xx

#common parameters for generators
eBEAM_ENERGY=11.6
# RADIATOR_THICKNESS=50.e-06   #standard
RADIATOR_THICKNESS=50.e-06
COHERENT_PEAK=6
GEN_MIN_ENERGY=5.5
GEN_MAX_ENERGY=6

VARIATION=mc_cpp

#RECON_CALIBTIME=

GEANT_VERSION=3
BKG=TagOnly:0.468 #[None, BeamPhotons, TagOnly, custom e.g bg.hddm:1.8] Can be stacked eg Random+TagOnly:.123 where the :[num] defines BGRATE
# BKG=TagOnly:0.0117 nominal #[None, BeamPhotons, TagOnly, custom e.g bg.hddm:1.8] Can be stacked eg Random+TagOnly:.123 where the :[num] defines BGRATE
#BGRate_calc --coherent_peak 6 --beam_on_current 0.020 --beam_energy 11.6 --collimator_diameter 0.005 --radiator_thickness 50e-6 --endpoint_energy_low 5.5 --endpoint_energy_high 6 --collimator_distance 75 --nbins 500
#Also see the calculational tool at http://zeus.phys.uconn.edu/halld/cobrems/ratetool.cgi

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
CUSTOM_PLUGINS=file:/lustre/expphy/volatile/halld/home/elton/gen_2pi_primakoff/jana_Z2pi_trees.config #monitoring_hists,Z2pi_trees        #or file:/.../file-to-use which is a configuration file for jana/hd_root 
#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True

BATCH_SYSTEM=swif                          #can be swif or qsub

#environment file location
ENVIRONMENT_FILE=/home/elton/MC_environment.csh     #change this to your own environment file

WORKFLOW_NAME=workflow     #SWIF WORKFLOW NAME
PROJECT = gluex            # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	   # https://scicomp.jlab.org/docs/batch_job_tracks
# TRACK= debug 

# RUNNING_DIRECTORY=/volatile/halld/home/elton/gen_2pi_primakoff  #used for qsub in which a running directory needs to be specified. This will be ignored for swif

# RESOURCES for swif jobs
DISK=50GB            # Max Disk usage
RAM=8GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=centos7        # Specify CentOS65 machines

