#THESE TWO ARE OPTIONAL IF THE STANDARD RUNNING DOESN'T SUIT YOUR NEEDS
#CUSTOM_MAKEMC=use-this-script-instead
#CUSTOM_GCONTROL=use-this-Gcontrol-instead
#========================================================================

#VARIATION=mc calibtime=timegoeshere #set your jana calib context here with or without calibtime Default is variation=mc
#RECON_VERSION=versiongoeshere
#RECON_CALIBTIME=timegoeshere
#ANA_VERSION=versiongoeshere
#ANA_CALIBTIME=timegoeshere

#RCDB_QUERY=

#RUNNING_DIRECTORY=/run/in/this/directory #where the code should run.  This is defaulted to ./.  Use only when NEEDED

#ccdbSQLITEPATH=/your/sqlite/path/ccdb.sqlite  #if you use SQLITE and it is not part of the environment file that gets sourced
#rcdbSQLITEPATH=/your/sqlite/path/rcdb.sqlite  #if you use SQLITE and it is not part of the environment file that gets sourced

#TAG=my-custom-prefix-tag

DATA_OUTPUT_BASE_DIR=/work/halld/gluex_workshop_data/tutorial_2025/session1d/output/ #your desired output location CHANGE THIS!

NCORES=4      # Number of CPU threads to use or nodes:node-id:ppn or nodes:ppn depending on your system

GENERATOR=gen_amp_V2 #or you may specifile file:/.../file-to-use.hddm
GENERATOR_CONFIG=/group/halld/Software/gluex_workshops/tutorial_2025/session1d/genPS.cfg
GENERATOR_POSTPROCESS=decay_evtgen:/group/halld/Software/gluex_workshops/tutorial_2025/session1d/OmegaDecay.dec #:pathToEVT.PDL:pathToDECAY.DEC # last two are optional (set 2nd to default if only 3rd is used), eg evtgen:/u/home/evtgen.cfg:default:someOther.DEC

#common parameters for generators
#FLUX_TO_GEN=/[full path]/flux.root:flux_hist
#POL_TO_GEN=/[full path]/tpol.root:pol_hist
#eBEAM_ENERGY=12 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
#eBEAM_CURRENT=0.01 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb in uA
#RADIATOR_THICKNESS=50.e-06 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
#COHERENT_PEAK=9 #either use rcdb or do not set to pull the value for the chosen run number from the rcdb
GEN_MIN_ENERGY=8.2
GEN_MAX_ENERGY=8.8

GEANT_VERSION=4
#VERTEX_VOLUME=ccdb:29.5 #defines the VERTEX card in geant.  The first value should be a comma seperated string x,y,z,var_xx,var_xy,var_yy,dxdz,dydz and the second part is the length (only the length need be given)

BKG=Random:recon-2018_08-ver02.2+NoTag #[None, Random:[TAG], BeamPhotons, TagOnly, custom e.g bg.hddm:1.8] Can be stacked eg Random:[TAG]+TagOnly:.123 where the :[num] defines BGRATE


GENERATOR_OS=centos7     #use only if code needs to run on special OS, either centos7 or alma9 container are supported
POSTGEN_OS=centos7       #use only if code needs to run on special OS, either centos7 or alma9 container are supported
SIMULATION_OS=centos7    #use only if code needs to run on special OS, either centos7 or alma9 container are supported
MCSMEAR_OS=centos7       #use only if code needs to run on special OS, either centos7 or alma9 container are supported
RECON_OS=centos7         #use only if code needs to run on special OS, either centos7 or alma9 container are supported
ANA_OS=centos7           #use only if code needs to run on special OS, either centos7 or alma9 container are supported

#environment file location
ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/recon-2018_08-ver02_31.xml     #change this to your own environment file
ANA_ENVIRONMENT_FILE=/group/halld/www/halldweb/html/halld_versions/analysis-2018_08-ver16.xml #optional either a .(c)sh file to be sourced or .xml before the below plugins are run

#optional additional plugins that will be run along side danarest and hd_root.  This should be a comma separated list (e.g. plugin1,plugin2)
#CUSTOM_PLUGINS= #or file:/.../file-to-use which is a configuration file for jana/hd_root
CUSTOM_ANA_PLUGINS=file:/group/halld/Software/gluex_workshops/tutorial_2025/session1d/jana_analysis.config #or file:/.../file-to-use which is a configuration file for jana/hd_root, this is used in the analysis launch emulation. Don't include the mcthrown_tree plugin here!
#====================================================================================
#EVERYTHING BELOW FOR BATCH ONLY

#VERBOSE=True
BATCH_SYSTEM=swif2cont #can be swif or swif2 or swif2cont (to run in centos7 container) or condor or osg or qsub adding :[name] will pass -q [name] into PBS.

WORKFLOW_NAME=tutorial_2025_CHANGE_THIS #SWIF WORKFLOW NAME

# for swif
PROJECT = gluex          # http://scicomp.jlab.org/scicomp/#/projects
TRACK= simulation     	 # https://scicomp.jlab.org/docs/batch_job_tracks
# for swif2
ACCOUNT = halld          # https://scicomp.jlab.org/scicomp/slurmJob/slurmAccount
PARTITION = production        # https://scicomp.jlab.org/scicomp/slurmJob/slurmInfo
EXPERIMENT = GlueX       # GlueX (default) or CPP

# RESOURCES for swif(2) jobs
DISK=5GB            # Max Disk usage
RAM=5GB            # Max RAM usage
TIMELIMIT=300minutes      # Max walltime.  This may be of the form xx:xx:xx depending on your system
OS=el9        # Specify CentOS65 machines
