# Key/value pairs are separated by white space
# Lines starting with # and empty lines are ignored
# Only the first two values are evaluated, so for lines like:
#     KEYVALUE VALUE1 VALUE2
# VALUE2 is ignored
# For files & directories: Must specify full path

# SCICOMP JOB ACCOUNTING
PROJECT                       halld
TRACK                         production
OS                            general
USER			      		# PUT YOUR USER NAME HERE !!!

# JOB RESOURCES
NCORES                        6		# This has to match the NTHREADS in jana_analysis.config
DISK                          50GB
RAM                           6GB
TIMELIMIT                     6hrs

# WORKFLOW DEFINITION
# RUNPERIOD, VERSION, & BATCH: Not needed by launch.py: Only used to replace variables in this config
RUNPERIOD                     2017-01
VERSION                       03
BATCH                         01
WORKFLOW                      bggen_[RUNPERIOD]_ver[VERSION]_batch[BATCH]

# JOB, SCRIPT CONTROL
ENVFILE                       analysis-2017_01-ver52.xml		# on the group disk
SCRIPTFILE                    /group/halld/Software/gluex_workshops/tutorial_2022/session2a/launch/script.sh
RCDB_QUERY                    "@is_production and @status_approved"     # comment-out for all runs
JANA_CONFIG                   /group/halld/Software/gluex_workshops/tutorial_2022/session2a/launch/jana_analysis.config
CACHE_PIN_DAYS                0                                         # max is 60, 0 or comment-out for none

# FILE INPUT, OUTPUT BASE DIRECTORIES
INDATA_TOPDIR     /cache/halld/gluex_simulations/REQUESTED_MC/2017_bggen_batch01_ver03_31_20220210010210pm/hddm/

# FOR FULL RECON LAUNCHES
OUTDIR_LARGE      /volatile/halld/home/[USER]/bggen/RunPeriod-[RUNPERIOD]/ver[VERSION]                  # REST, skims, hists, trees
OUTDIR_SMALL      /farm_out/[USER]/bggen/RunPeriod-[RUNPERIOD]/ver[VERSION]/batch[BATCH]/               # log files

