#####################################
####    THIS IS A CONFIG FILE    ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary
##          (word) means optional)
##
##  include       <file>
##  define        <word> (defn1) (defn2) (defn3) ...
##  fit           <fitname>
##  keyword       <keyword> <min arguments> <max arguments>
##  reaction      <reaction> <particle1> <particle2> (particle3) ...
##  data          <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum           <reaction> <sum> (sum2) (sum3) ...
##  amplitude     <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ...
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##                  <value1> <value2> ("fixed"/"real")
##  scale         <reaction> <sum> <amp> <value or [parameter]>
##  constrain     <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute       <reaction> <sum> <amp> <index1> <index2> ...
##  parameter     <par> <value> ("fixed"/"bounded"/"gaussian")
##                  (lower/central) (upper/error)
##    DEPRECATED:
##  datafile      <reaction> <file> (file2) (file3) ...
##  genmcfile     <reaction> <file> (file2) (file3) ...
##  accmcfile     <reaction> <file> (file2) (file3) ...
##
#####################################

reaction etapi  Beam Proton Eta Pi0

# polarization information -- use 100% polarization to enhance visual effect
define polVal 1.0
define polAngleDeg 0.0

# a string that can be used in amplitude arguments
define polInfo polAngleDeg polVal

# resonance mass and width
define res1MassWidth 1.312 0.113
define res1L 2
define res1M 0

define res2MassWidth 1.600 0.500
define res2L 1
define res2M 1

# create two sums needed in the amplitude -- as long as we use
# a single reflectivity, then two sums are sufficient
sum etapi reZ
sum etapi imZ


# kinematic/angular dependence given by Zlm (GlueX-doc 4094)
# (choose one of the two pairs below and comment out the other)

# this set is for positive reflectivity
amplitude etapi::reZ::res1Amp Zlm res1L res1M +1 +1 polInfo
amplitude etapi::imZ::res1Amp Zlm res1L res1M -1 -1 polInfo
amplitude etapi::reZ::res2Amp Zlm res2L res2M +1 +1 polInfo
amplitude etapi::imZ::res2Amp Zlm res2L res2M -1 -1 polInfo

# this set is for negative reflectivity
#amplitude etapi::reZ::res1Amp Zlm res1L res1M -1 +1 polInfo
#amplitude etapi::imZ::res1Amp Zlm res1L res1M +1 -1 polInfo
#amplitude etapi::reZ::res2Amp Zlm res2L res2M -1 +1 polInfo
#amplitude etapi::imZ::res2Amp Zlm res2L res2M +1 -1 polInfo


# dynamical part is a Breit-Winger
amplitude etapi::reZ::res1Amp BreitWigner res1MassWidth res1L 2 3
amplitude etapi::imZ::res1Amp BreitWigner res1MassWidth res1L 2 3
amplitude etapi::reZ::res2Amp BreitWigner res2MassWidth res2L 2 3
amplitude etapi::imZ::res2Amp BreitWigner res2MassWidth res2L 2 3

initialize etapi::reZ::res1Amp cartesian 1 0
constrain etapi::reZ::res1Amp etapi::imZ::res1Amp

initialize etapi::reZ::res2Amp cartesian 4 0
constrain etapi::reZ::res2Amp etapi::imZ::res2Amp

